@inherits LayoutComponentBase
<MatAppBarContainer>
    <MatAppBar Fixed="true">
        <MatAppBarSection>
            <MatAppBarTitle>Advent of Code - Sander van 't Einde</MatAppBarTitle>
        </MatAppBarSection>
    </MatAppBar>
</MatAppBarContainer>
<main>
    @Body
</main>