@page "/"

<PageTitle>Advent of Code</PageTitle>

<Title Level="1">Advent of Code</Title>
<Text>
    This website contains the solutions for the Advent of Code 2021 by <a target="_blank" href="https://twitter.com/sandervanteinde">sandervanteinde</a>
</Text>



