@page "/"

<PageTitle>Index</PageTitle>

<h1>Advent of Code 2021</h1>

This website contains the solutions for the Advent of Code 2021 by <a target="_blank" href="https://twitter.com/sandervanteinde">sandervanteinde</a>

